.wrapper {
  position: relative;
  height: 0pt;
  width: 100%;
  /* background-color: red; */
  /* margin: -1pt -1pt; */
  padding: 0;
  padding-bottom: 100%;
}
.square, .shell{

  width: 100%;
  height: 100%;
  position: absolute;
}


.overlay {
  height: 70%;
  width: 70%;
  margin: 15%;
  border-width: 0%;
  border-radius: 50%;
  display: inline-block;
  box-shadow: inset 3px -3px 12px rgba(0, 0, 0, 1);
  transition: 0.2s;
}

.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}

.victory {
  animation: victoryAnimation 2s infinite;
}

@keyframes victoryAnimation {
  0% {
    box-shadow: inset 3px -3px 12px rgba(0, 0, 0, 1);
  }
  45% {
    box-shadow: inset 0px 0px 20px white;
  }
  55% {
    box-shadow: inset 0px 0px 20px white;
  }
  100% {
    box-shadow: inset 3px -3px 12px rgba(0, 0, 0, 1)
  }
}
