.square {
  /* margin: -1pt -1pt; */
  font-family: Arial;
  border: none;
  padding: 10pt;
  cursor: default;
}
.wrapper {
  position: relative;
  height: 70pt;
  width: 70pt;
  margin: -1pt -1pt;
}
.square, .shell{
  position: absolute;
}

.shell {
  mask-image: radial-gradient(30px at 50% 50% , transparent 95%, white 100%);
  background-color: rgb(9, 100, 247);
  margin: -1pt -1pt;
  height: inherit;
  width: inherit;

}

.overlay {
  height: 50pt;
  width: 50pt;
  border-radius: 50%;
  display: inline-block;
  box-shadow: inset 2pt 2pt 10pt rgba(0, 0, 0, 0.8);
  transition: 0.2s;
}

.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}

.victory {
  animation: victoryAnimation 2s infinite;
}

@keyframes victoryAnimation {
  0% {
    box-shadow: 0pt 0pt 10pt gold,inset 2pt 2pt 10pt rgba(0, 0, 0, 0.8);
  }
  45% {
    box-shadow: 0pt 0pt 10pt white, inset 0pt 0pt 30pt white;
  }
  55% {
    box-shadow: 0pt 0pt 10pt white, inset 0pt 0pt 30pt white;
  }
  100% {
    box-shadow: 0pt 0pt 10pt gold,inset 2pt 2pt 10pt rgba(0, 0, 0, 0.8)
  }
}
