.menu-container{
  margin: 0;
  padding:0%;
  height: calc( 100% - 0%);
  align-content: center;
  display: block;
  background-color: lightsteelblue;
  border-style: solid;
}

.logo {
  width: 100%;
  background-color: black;
}
