

.table {
  display: table;
  table-layout: fixed;
  margin: auto;
  margin-bottom: 0%;
  height: 100%;
}

.boardColumn{
  margin: 0%;
  padding: 0%;
}

.boardContainer{
  height: 100%;
  width: 100%;
  overflow:hidden;       /**/
}

