

.grid {
  display: flex;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  margin: auto;
  margin-bottom: 0%;
  height: 100%;
  filter: drop-shadow(2pt -2pt 8pt rgba(0,0,0,0.6));
}

.boardColumn{
  flex: 1;
}

.boardContainer{
  /* height: 100%;
  width: 100%; */
  overflow:hidden;       /**/
}

