.background {
  /* background-color: rgb(9, 100, 247); */
  padding: 0;
  transition: 0.3s;
  width: 100%;
}

.fillWidth{
  width: 100%;
}
padding: 20%;

.row{
  width: 100%;
}
.container {
  padding: 0;
  width: 100%;
}
.container:hover .background{
  background-color: rgb(86, 149, 251);
  padding: 0;
}

.container:hover .halfCircle{
  visibility: visible;
}

.halfCircle{
  width:100%;
  border-radius: 90pt 90pt 0 0;
  border-width: 1pt;

  border-style: hidden;
  border-bottom: 0;
  margin: auto;
  visibility: hidden;
  padding-bottom: 50%;
}

.red{
  background-color: red;
  border-style: solid;
}
.yellow{
  background-color: yellow;
  border-style: solid;
}

.columnFull {
  visibility: hidden !important;
}
