* {
  padding: 0%;
  margin: 0%;
}

.background {
  padding: 0;
  transition: 0.3s;
  width: 100%;
}

.fillWidth{
  width: 100%;
}

.myRow{

  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  table-layout: fixed;

}

.boardColumn {
  padding: 0%;
  margin: 0%;
  width: 100%;
}
.boardColumn:hover .background{
  background-color: rgb(86, 149, 251);
  padding: 0;
}

.gameRunning.boardColumn:hover .indication-token{
  visibility: visible;
}

.indication-token{
  visibility: hidden;
}

.filter-red:not(.tokenHidden){
  filter: invert(15%) sepia(100%) saturate(7241%) hue-rotate(355deg) brightness(113%) contrast(118%) drop-shadow(8px 8px 10px gray);
}

.filter-yellow:not(.tokenHidden){
  filter: invert(99%) sepia(37%) saturate(5269%) hue-rotate(0deg) brightness(108%) contrast(102%) drop-shadow(8px 8px 10px gray);
}

.tokenHidden {
  visibility: hidden !important;
  filter: none;
}
