<div class="boardColumn" [class.gameRunning]="gameService.isGameOver() === false">
  <div
    class="indication-token"
    [class.tokenHidden]="
      gameService.getTokenColour() === 0 ||
      columnFull() === true ||
      localPlayer() === false
    "
  >
    <svg
      width="100%"
      viewBox="0 0 100 100"
      [class.filter-red]="gameService.getTokenColour() === 1"
      [class.filter-yellow]="gameService.getTokenColour() === 2"
    >
      <circle cx="50" cy="80" r="35" fill="black" />
    </svg>
  </div>
  <div class="background">
    <tr
      *ngFor="let square of column.slice().reverse(); let y = index"
      (click)="click()"
      class="myRow fillWidth"
    >
      <app-board-square
        class="fillWidth"
        [player]="square"
        [x]="x"
        [y]="y"
      ></app-board-square>
    </tr>
  </div>
</div>
