.background {
  /* background-color: rgb(9, 100, 247); */
  padding: 0;
  transition: 0.3s;
  width: 100%;
}

.fillWidth{
  width: 100%;
}

.myRow{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

}

.boardColumn {
  padding: 0%;
  margin: 0%;
  width: 100%;
}
.boardColumn:hover .background{
  background-color: rgb(86, 149, 251);
  padding: 0;
}

.boardColumn:hover .halfCircle{
  visibility: visible;
}

.halfCircle{
  width:100%;
  border-radius: 90% 90% 0 0;
  border-width: 1%;
  padding: 0;

  border-style: hidden;
  border-bottom: 0;
  visibility: hidden;
  padding-bottom: 50%;
}

.red{
  background-color: red;
  border-style: solid;
}
.yellow{
  background-color: yellow;
  border-style: solid;
}

.columnFull {
  visibility: hidden !important;
}
